#################################
# macOS
#################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd

#################################
# Python / caches
#################################
__pycache__/
*.py[cod]
*$py.class

#################################
# Virtual environments
#################################
.venv/
venv/
env/
ENV/

#################################
# Jupyter
#################################
.ipynb_checkpoints/
# Keep notebooks tracked in git
!notebooks/
!notebooks/**/*.ipynb

#################################
# Tests / coverage
#################################
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
coverage.xml

#################################
# Type checkers / linters
#################################
.mypy_cache/
.pyright/
.pytype/
.pyre/
.ruff_cache/

#################################
# Logs
#################################
*.log
pip-log.txt
.tmp/

#################################
# IDEs / editors
#################################
.vscode/
.idea/
*.swp
*.swo

#################################
# Secrets / env files
#################################
.env
.env.*
!.env.example

#################################
# Build artifacts
#################################
build/
dist/
*.egg-info/

#################################
# Data (ignore heavy datasets)
#################################
datasets/*

# Ignore everything under data, but keep folder structure
data/**
!data/.gitkeep
!data/**/.gitkeep

#################################
# Common ML outputs (usually huge)
#################################
outputs/
results/
runs/
models/
checkpoints/
wandb/
mlruns/
lightning_logs/
tensorboard/
!report/results/
!report/results/**

#################################
# Report (keep slides + notes, ignore temp)
#################################
# macOS Office temp files
report/~$*
# LaTeX (si jamais tu utilises)
report/**/*.aux
report/**/*.bbl
report/**/*.blg
report/**/*.log
report/**/*.out
report/**/*.toc
report/**/*.synctex.gz
report/**/*.fdb_latexmk
report/**/*.fls
presentation/source/**/*.aux
presentation/source/**/*.bbl
presentation/source/**/*.blg
presentation/source/**/*.log
presentation/source/**/*.out
presentation/source/**/*.toc
presentation/source/**/*.synctex.gz
presentation/source/**/*.fdb_latexmk
presentation/source/**/*.fls
